{% extends 'base.html' %}


{% block content %}
<h2>Chat room: {{room}}</h2>
<div class="message-box" id="messages">

</div>

<div class="input">
    <input 
    type="text"
    rows="3"
    placeholder="Message" 
    name="message" 
    id="message"/>
    <button type="button" name="send" id="send-btn" onclick="sendMessage()">Send</button>
    </div>
</div>

<script type="text/javascript">
    var socketio = io();
    messages = document.getElementById('messages') 
    createMessage = (name, msg) => {
       const content = `
       <div class="chat">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toLocaleString()}
                </span>
        </div>
       `
       messages.innerHTML +=  content
    }

    const sendMessage = () => {
        msg = document.getElementById('message')
        if(msg.value == "") return 
        socketio.send(msg.value)
        msg.value = ""
    }

    socketio.on("message", (data) => {
        createMessage(data.name, data.message)
    })

    

</script>

{% endblock %}